/* Styling for the slider */
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
    height: 100vh; /* Set the container height to the full viewport height */
    overflow: hidden; /* Hide any content overflowing from the container */
  }
  
  .slider img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Place the image behind other content */
  }
  
  .welcome-note {/* Home.css */

    .home {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100vh;
    }
        
    .welcome-note {
      margin-bottom: 20px;
    }
    
    .welcome-note h1 {
      font-size: 1.5em;
      color: #333;
    }
    
    .welcome-note p {
      color: #555;
    }
    
    .slider {
      max-width: 100%;
      height: auto;
    }
    
    text-align: center;
    margin: 20px;
  }
  
  .welcome-note h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .welcome-note p {
    font-size: 16px;
    text-align: center;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  .logo {
    font-size: 1.5em;
    color: #02afa4;
  }
  
  .login-button {
    background-color: #02afa4;
    color: white;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
  }
  
  .login-button:hover {
    background-color: #79fff6;
  }  